{% case colorswatch_scroll_label %}
	{% when 'flat-copper' %}
		<label for="color-select" style="background-image:url({{ 'copper.jpg' | asset_url }}) !important;"></label>
	{% when 'flat-black' %}
		<label for="color-select" style="background-image:url({{ 'flatblack.jpg' | asset_url }}) !important;"></label>
	{% when 'gloss-black' %}
		<label for="color-select" style="background-image:url({{ 'glossblack.jpg' | asset_url }}) !important;"></label>
	{% when 'gloss-vintage-white' %}
		<label for="color-select" style="background-image:url({{ 'glossvintagewhite.jpg' | asset_url }}) !important;"></label>
	{% when 'flat-primer' %}
		<label for="color-select" style="background-image:url({{ 'flatprimer.jpg' | asset_url }}) !important;"></label>
	{% when 'flat-titanium' %}
		<label for="color-select" style="background-image:url({{ 'flattitanium.jpg' | asset_url }}) !important;"></label>
	{% when 'brite-silver-mf' %}
		<label for="color-select" style="background-image:url({{ 'britesilvermf.jpg' | asset_url }}) !important;"></label>
	{% when 'le-spectrum-black-orange' %}
		<label for="color-select" style="background-image:url({{ 'blackorange.jpg' | asset_url }}) !important;"></label>
	{% when 'rootbeer-mf' %}
		<label for="color-select" style="background-image:url({{ 'rootbeermf.jpg' | asset_url }}) !important;"></label>
	{% when 'midnight-black-miniflake' %}
		<label for="color-select" style="background-image:url({{ 'mignight.jpg' | asset_url }}) !important;"></label>
	{% when 'fury-white-blue' %}
		<label for="color-select" style="background-image:url({{ 'furywhiteblue.jpg' | asset_url }}) !important;"></label>	
	{% when 'wine-red-mf' %}
		<label for="color-select" style="background-image:url({{ 'winered.jpg' | asset_url }}) !important;"></label>
	{% when 'wine-mf' %}
		<label for="color-select" style="background-image:url({{ 'winered.jpg' | asset_url }}) !important;"></label>
	{% when 'le-racer-red-white' %}
		<label for="color-select" style="background-image:url({{ 'leracerredwhite.jpg' | asset_url }}) !important;"></label>
	{% when 'gang-green-mf' %}
		<label for="color-select" style="background-image:url({{ 'ganggreen.jpg' | asset_url }}) !important;"></label>
	{% when 'le-racer-vintage-gloss-white' %}
		<label for="color-select" style="background-image:url({{ 'vintageglosswhite.jpg' | asset_url }}) !important;"></label>
	{% when 'le-spectrum-white-silver' %}
		<label for="color-select" style="background-image:url({{ 'spectrumwhitesilver.jpg' | asset_url }}) !important;"></label>
	{% when 'racer-black-grey-gold' %}
		<label for="color-select" style="background-image:url({{ 'racerblackgold.jpg' | asset_url }}) !important;"></label>
	{% when 'black-grey' %}
		<label for="color-select" style="background-image:url({{ 'grey.jpg' | asset_url }}) !important;"></label>
	{% when 'le-racer-red-white-blue' %}
		<label for="color-select" style="background-image:url({{ 'leracerredwhite.jpg' | asset_url }}) !important;"></label>
	{% when 'fury-black-grey-gold' %}
		<label for="color-select" style="background-image:url({{ 'grey.jpg' | asset_url }}) !important;"></label>
	{% when 'black-gold-miniflake' %}
		<label for="color-select" style="background-image:url({{ 'trackerblackgold.jpg' | asset_url }}) !important;"></label>
	{% when 'rootbeer-megaflake' %}
		<label for="color-select" style="background-image:url({{ 'rootbeermf.jpg' | asset_url }}) !important;"></label>
	{% when 'racer-flat-cream-orange' %}
		<label for="color-select" style="background-image:url({{ 'racercreamorange.jpg' | asset_url }}) !important;"></label>
	{% when 'gloss-hazard-orange' %}
		<label for="color-select" style="background-image:url({{ 'glosshazardorange.jpg' | asset_url }}) !important;"></label>
	{% when 'bronze-metallic' %}
		<label for="color-select" style="background-image:url({{ 'bronzemetallic.jpg' | asset_url }}) !important;"></label>
	{% when 'gloss-blue-steel' %}
		<label for="color-select" style="background-image:url({{ 'glossbluesteel.jpg' | asset_url }}) !important;"></label>
	{% when 'gloss-blood-red' %}
		<label for="color-select" style="background-image:url({{ 'glossbloodred.jpg' | asset_url }}) !important;"></label>
	{% when 'tracker-black-vintage-white' %}
		<label for="color-select" style="background-image:url({{ 'color-img.jpg' | asset_url }}) !important;"></label>
	{% when 'gloss-agave' %}
		<label for="color-select" style="background-image:url({{ 'glossagave.jpg' | asset_url }}) !important;"></label>
	{% when 'tracker-black-silver' %}
		<label for="color-select" style="background-image:url({{ 'trackerblacksilver.jpg' | asset_url }}) !important;"></label>
	{% when 'flat-olive' %}
		<label for="color-select" style="background-image:url({{ 'flatolive.jpg' | asset_url }}) !important;"></label>
	{% when 'racer-green-cream' %}
		<label for="color-select" style="background-image:url({{ 'racergreen.jpg' | asset_url }}) !important;"></label>
	{% when 'sierra-green' %}
		<label for="color-select" style="background-image:url({{ 'sierragreen.jpg' | asset_url }}) !important;"></label>
	{% when 'safe' %}
		<label for="color-select" style="background-image:url({{ 'safeyellow.jpg' | asset_url }}) !important;"></label>
	{% when 'cast-bonanza-helmet' %}
		<label for="color-select" style="background-image:url({{ 'color-img.jpg' | asset_url }}) !important;"></label>
	{% when 'tracker-black-gold' %}
		<label for="color-select" style="background-image:url({{ 'color-img.jpg' | asset_url }}) !important;"></label>
		
		{% comment %}
 		For Gringo  Collection
		{%endcomment%}

	{% when 'gloss-black-w-black' %}
		<label for="color-select" style="background-image:url({{ 'gloss-black-w-black.jpg' | asset_url }}) !important;"></label>
	{% when 'spectrum-black-orange' %}
		<label for="color-select" style="background-image:url({{ 'spec-black-orange.jpg' | asset_url }}) !important;"></label>
	{% when 'spectrum-blue-blue' %}
		<label for="color-select" style="background-image:url({{ 'spec-blue-blue.jpg' | asset_url }}) !important;"></label>
	{% when 'scallop-white-red' %}
		<label for="color-select" style="background-image:url({{ 'scallop-red-white.jpg' | asset_url }}) !important;"></label>
	{% when 'spectrum-gang-green-mf' %}
		<label for="color-select" style="background-image:url({{ 'spec-gang-green.jpg' | asset_url }}) !important;"></label>
	{% when 'scallop-black-orange' %}
		<label for="color-select" style="background-image:url({{ 'scallop-black-orange.jpg' | asset_url }}) !important;"></label>
	{% when 'tracker-vintage-white-black' %}
		<label for="color-select" style="background-image:url({{ 'tracker-vintage-black-white.jpg' | asset_url }}) !important;"></label>
	{% when 'spectrum-gloss-white' %}
		<label for="color-select" style="background-image:url({{ 'spec-gloss-white.jpg' | asset_url }}) !important;"></label>
	{% when 'tracker-gloss-black-gold' %}
		<label for="color-select" style="background-image:url({{ 'tracker-gloss-black-gold.jpg' | asset_url }}) !important;"></label>
	{% when 'gloss-baja-blue' %}
		<label for="color-select" style="background-image:url({{ 'gloss-baja-blue.jpg' | asset_url }}) !important;"></label>
	{% when 'flat-chocolate' %}
		<label for="color-select" style="background-image:url({{ 'flat-chocolate.jpg' | asset_url }}) !important;"></label>
	{% when 'charcoal-metallic' %}
		<label for="color-select" style="background-image:url({{ 'charcoal-metallicjpg' | asset_url }}) !important;"></label>
	{% when 'vintage-desert' %}
		<label for="color-select" style="background-image:url({{ 'vintage-desert.jpg' | asset_url }}) !important;"></label>
	{% when 'tracker-red-white-blue' %}
		<label for="color-select" style="background-image:url({{ 'tracker-red-white-blue.jpg' | asset_url }}) !important;"></label>
	{% when 'tri-stripe-white' %}
		<label for="color-select" style="background-image:url({{ 'tri-stripe-white.jpg' | asset_url }}) !important;"></label>
	{% when 'bourbon-metallic' %}
		<label for="color-select" style="background-image:url({{ 'bourbon-metallic.jpg' | asset_url }}) !important;"></label>
	{% when 'flames-black-grey' %}
		<label for="color-select" style="background-image:url({{ 'flames-black-grey.jpg' | asset_url }}) !important;"></label>

	{% when 'chrome' %}
		<label for="color-select" style="background-image:url({{ 'chrome.jpg' | asset_url }}) !important;"></label>	

	{% comment %}
 		For Gringo S Collection
	{%endcomment%}

	{% when 'spectrum-gloss-black-orange' %}
		<label for="color-select" style="background-image:url({{ 'spec-black-orange.jpg' | asset_url }}) !important;"></label>
	{% when 'spectrum-wine-red-mf' %}
		<label for="color-select" style="background-image:url({{ 'spectrum-wine-red-mf.jpg' | asset_url }}) !important;"></label>
	{% else %}
		<label for="color-select" style="background-image:url({{ 'color-img.jpg' | asset_url }}) !important;"></label>
	{% endcase %}