<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {{ 'site.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'flexslider.css' | asset_url | stylesheet_tag }}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
  <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
  <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#c4161d">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#ffffff">

  {%- capture seo_title -%}
    {{ page_title | replace:'~','' }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}


  {{ content_for_header }}

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">



  <div id="page">
    {% section 'header' %}
    {% if template == 'index' %}
      {% section 'hero-section' %}
      {% section 'helmet-feature-row' %}
    {% endif %}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% section 'cart-overlay' %} <!-- sidebar section -->

    {% section 'footer' %}

  {% include 'shipping-modal' %}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
  {{ 'jquery-2.2.0.min.js' | asset_url | script_tag }}
   <script src="//insta-api.gohrvst.com/jquery.instashow.packaged.js"></script>
  {% include 'script-tags', layout: 'theme' %}
  {{ 'jquery.flexslider.js' | asset_url | script_tag }}
  {{ 'wow.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'custom.js' | asset_url | script_tag }}
  {{ 'cart-overlay.js' | asset_url | script_tag }}
  </div>
	<script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>

</body>
</html>
