<div data-section-id="{{ section.id }}" data-section-type="product" class="gift-certificates">
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{% assign product_name_words = product.title | split: ' - ' %}
{% assign new_product_name = '' %}
{% for word in product_name_words %}
    {% unless forloop.last %}
        {% assign new_product_name = new_product_name | append: word %}
    {% endunless %}
{% endfor %}
{% assign collection_handle = new_product_name | handleize %}
{% assign collection_to_use = collections[collection_handle]%}
{% assign collectionhandle = collection_to_use.handle%}

{% assign has_billboard = false %}
{% assign has_dimensions = false %}
{% for tag in product.tags %}
  {% if tag == 'has-billboard' %}
    {% assign has_billboard = true %}
  {% endif %}
  {% if tag == 'has-dimensions' %}
    {% assign has_dimensions = true %}
  {% endif %}
{% endfor %}

    <div class="container product">
        <div class="product-row">
            <div class="p-display wow fadeInLeft" data-wow-duration="2s">
                {% if product.images.size == 1 %}
                    <div class="thumbnail   wow fadeInLeft"  data-wow-duration="2s">
                        {{ product.featured_image | img_url: '484x484' | img_tag: product.title }}
                    </div>
                {% endif %}
                {% if product.images.size > 1 %}
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            {% for image in product.images %}

                              {% assign last_image = forloop.length %}
                              {% if has_billboard %}
                                {% comment %} If it has tag has-billboard, do not render last image in slider {% endcomment %}
                                {% if forloop.index == last_image %} {% continue %} {% endif %}
                                {% if has_dimensions %}
                                  {% comment %} If it has tag has-dimensions as well, do not render second to last image neither {% endcomment %}
                                  {% assign second_to_last_image = forloop.length | minus: 1 %}
                                  {% if forloop.index == second_to_last_image %} {% continue %} {% endif %}
                                {% endif %}
                              {% elsif has_dimensions %}
                                {% comment %} If it only has tag has-dimensions, only skip last image {% endcomment %}
                                {% if forloop.index == last_image %} {% continue %} {% endif %}
                              {% endif %}

                                <li>
                                    <img src="{{ image.src | img_url: '480x480' }}" alt="{{ image.alt | escape }}" />
                                </li>
                            {% endfor%}
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            {% for image in product.images %}

                            {% assign last_image = forloop.length %}
                            {% if has_billboard %}
                              {% comment %} If it has tag has-billboard, do not render last image in slider {% endcomment %}
                              {% if forloop.index == last_image %} {% continue %} {% endif %}
                              {% if has_dimensions %}
                                {% comment %} If it has tag has-dimensions as well, do not render second to last image neither {% endcomment %}
                                {% assign second_to_last_image = forloop.length | minus: 1 %}
                                {% if forloop.index == second_to_last_image %} {% continue %} {% endif %}
                              {% endif %}
                            {% elsif has_dimensions %}
                              {% comment %} If it only has tag has-dimensions, only skip last image {% endcomment %}
                              {% if forloop.index == last_image %} {% continue %} {% endif %}
                            {% endif %}

                                <li>
                                    <img src="{{ image.src | img_url: '120x120' }}" alt="{{ image.alt | escape }}" />
                                </li>
                            {% endfor%}
                        </ul>
                {% if section.settings.playvideo%}
                    <a class="play-video" href="#videosection">Play video</a>
                {% endif %}
            </div>
                {% endif %}
        </div>

        <div class="p-detail wow fadeInRight" data-wow-duration="2s" itemprop="offers" itemscope itemtype="//schema.org/Offer">
            <meta itemprop="price" content="{{ product.price | money_without_currency }}">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="//schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            <div class="detail-head">
                <ul class="bread-crum">
                {% if template contains "product" %}
                  {% if collection %}
                    {% if collection.handle %}
                    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                    <li>{{ collection.title | replace:'~','' | link_to: url }}</li>
                    {% endif %}
                  {% else %}
                        <li>{{ product.type | link_to_type }}</li>
                  {% endif %}
                {% endif %}
            	 </ul>
        </div>

        <div class="detail-row">
            <div class="product-title">
                <div class="pro-col">
                    <h1>{{ product.title }}</h1>
                </div>
            </div>
        </div>

        <div class="product-reviews">
            <div class="product-stars">
              <a href="#product-reviews">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </a>
          </div>
        </div>

        <div class="btm-row">
            <div class="bottom-rule" data-price-wrapper>
                <h2 class="product-price" data-product-price>{{ current_variant.price | money }}</h2>
            </div>
        </div>

        {% form "product", product, data-productid: product.id %}
            <input type="hidden" name="id" value="{{ current_variant.id }}">

            <div class="add-to-cart">
                <div class="pro-select">
                    {% if has_dimensions %}
                    <div class="chart-outer chart-outer--dimensions">
                      <a class="sizing-chart open" href="#">Dimensions</a>
                    </div>
                    {% endif %}

                    {% unless product.has_only_default_variant %}
                        {% for option in product.options_with_values %}
                            <div class="selector-wrapper size-input js">
                                <label for="SingleOptionSelector-{{ forloop.index0 }}" >
                                    {{ option.name }}
                                </label>
                            <div class="options-list">
                                {% for value in option.values %}
                                    <div class="text-center list-tag">
                                        <input class="radio-custom" type="radio" name="properties[{{ option.name }}]"
                                           id="{{option.name}}-{{ forloop.index0 }}"
                                           data-single-option-selector
                                           data-index="option{{ option.position }}"
                                           value="{{ value | escape }}"
                                           >
                                                <label for="{{option.name}}-{{ forloop.index0 }}">
                                                    <span class="value">{{ value | escape }}</span>
                                                </label>
                                    </div>
                                {% endfor %}
                            </div>
                </div>
                        {% endfor %}
                    {% endunless %}
            </div>

            <div class="product-option">
                <select style="display:none" name="id" class="no-js" data-product-select>
                    <option value="" selected>Select Option</option>
                        {% for variant in product.variants %}
                              <option
                                {% if variant == current_variant %}selected="selected"{% endif %}
                                {% unless variant.available %}disabled="disabled"{% endunless %}
                                value="{{ variant.id }}">
                                  {{ variant.title }}
                              </option>
                        {% endfor %}
                </select>
            </div>

            <div class="product-atc">
                <div class="product-quantity">
                    <input min="1" type="number" id="quantity" name="quantity" value="1" />
                </div>
                <div class="atc-col">
                    <button type="submit"
                    name="add"
                    class="btn btn-red product__add-to-cart btn-full-width"
                    data-add-to-cart
                    {% unless current_variant.available %}disabled{% endunless %}>
                      <span data-add-to-cart-text>
                        {% if current_variant.available %}
                          Add To Cart
                        {% else %}
                          {{ 'products.product.sold_out' | t }}
                        {% endif %}
                      </span>
                    </button>
                </div>
            </div>

        {% endform %}

        <div class="des-row">
            <div class="des-col">
             <h5>Description</h5>
             <div class="product-description">
               	{{ product.description }}
             </div>
           </div>
       </div>
    </div>
</div>

    {% comment %}
        {% assign parts = product.content | split: '[[divider]]' %}
            <div class="description-row">
                <div class="col1">
                    <h4> Technical Details </h4>
                    <ul>{{ product.description | split: '<ul>' | last  }} </ul>
                </div>
                <div class="col2">
                    <h4> Overview </h4>
                    {{ product.description | split: '<ul>' | first }}
                </div>
            </div>
    {% endcomment %}
    {% unless product == empty %}
        <script type="application/json" data-product-json>
            {{ product | json }}
        </script>
    {% endunless %}
</div>
</div>

{% if has_dimensions %}
<div class="size-chart">
  <div class="chart-wrapper">
    <div class="chart-main">
      <div class="chart-inner">
        <h3>Dimensions</h3>
        <a class="char-close close" href="#"></a>
        <h4>{{product.title}}</h4>

        {% if has_billboard %}
          {% comment %} If it has tag has-billboard, dimensions is the second to last {% endcomment %}
          {% assign second_to_last = product.images.size | minus: 2 %}
          {% assign image_to_show = product.images[second_to_last] | img_url: 'master' %}
        {% else %}
          {% comment %} If it only has tag has-dimensions, dimensions is the last image {% endcomment %}
          {% assign image_to_show = product.images.last | img_url: 'master' %}
        {% endif %}

        <img src="{{image_to_show}}" class="img-fluid" />

      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_shipping_text",
        "label": "Show shipping Text",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "playvideo",
        "label": "Product Has Video",
        "default": false,
        "info": "This will show the Play Video Button."
      }
    ]
  }
{% endschema %}
