<div class="login-wrap">
    <div class="login-section">
        <h2>{{section.settings.heading}}</h2>
            {% form 'create_customer' %}
                <div class="account__errors account__errors--password alert alert-danger" style="display: none;">Your passwords do not match</div>
                {% if form.errors %}
                    <div class="account__errors alert alert-danger">
                        {{ form.errors | default_errors }}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrap-in">
                            <label>{{ 'customer.register.first_name' | t }}</label>
                            <input
                              name="customer[first_name]"
                              id="FirstName"
                              class="form-control"
                              placeholder="{{ 'customer.register.first_name' | t }}"
                              autofocus
                              {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wrap-in">
                            <label>{{ 'customer.register.last_name' | t }}</label>
                            <input type="text"
                              class="form-control"
                              name="customer[last_name]"
                              id="LastName"
                              placeholder="{{ 'customer.register.last_name' | t }}"
                              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
                        </div>
                    </div>
                </div>
                <div class="wrap-in">
                    <label>{{ 'customer.register.email' | t }}</label>
                    <input type="email"
                      name="customer[email]"
                      id="Email"
                      class="form-control {% if form.errors contains 'email' %}input-error{% endif %}"
                      placeholder="{{ 'customer.register.email' | t }}"
                      value="{% if form.email %}{{ form.email }}{% endif %}"
                      spellcheck="false"
                      autocomplete="off"
                      autocapitalize="off">
                </div>

                <div class="wrap-in">
                    <div class="d-flex flex-wrap">
                        <label>{{ 'customer.register.password' | t }}</label>
                        <a href="#0" onclick="showpassword()" class="forget">Show</a>
                    </div>
                    <input type="password"
                    name="customer[password]"
                    id="CreatePassword"
                    class="form-control {% if form.errors contains 'password' %}input-error{% endif %}"
                    placeholder="{{ 'customer.register.password' | t }}">
                </div>

                <div class="wrap-in">
                    <div class="d-flex flex-wrap">
                        <label>Repeat your Password</label>
                        <a href="#0" onclick="showpasswordConfirmation()" class="forget">Show</a>
                    </div>
                    <input type="password"
                    name="customer[password_confirmation]"
                    id="CreatePasswordConfirmation"
                    class="form-control {% if form.errors contains 'password' %}input-error{% endif %}"
                    placeholder="{{ 'customer.register.password' | t }}">
                </div>
                <div class="login-btn-wrap">
                    <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                </div>
                <div class="bot-info">
                    {{section.settings.logintext}} <a href="/account/login">{{section.settings.login_label}}</a>
                </div>
            {% endform %}
    </div>
</div>
{% schema %}
  {
    "name": "Register Page",
    "settings": [
	{
      "type": "text",
      "id": "heading",
      "label": "Page heading",
      "default": "Sign up for an account."
    },
	{
      "type": "text",
      "id": "logintext",
      "label": "Ask for account",
      "default": "Have an account?"
    },
	{
      "type": "text",
      "id": "login_label",
      "label": "Login Label",
      "default": "Login"
    }
	]
  }
{% endschema %}
